<br>
<br>
<br>
<form [formGroup]="saveForm" (ngSubmit)="saveData()">
  <div class="container">
    <div class="row" style="width: 500px">
      <div class="col-12">
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Customer Id</mat-label>
          <input formControlName="id" type="text" matInput (keyup.enter)="search()">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Customer Name</mat-label>
          <input formControlName="name"  type="text" matInput>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Customer Address</mat-label>
          <input formControlName="address" type="text" matInput>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Customer Salary</mat-label>
          <input formControlName="salary" type="number" matInput>
        </mat-form-field>
      </div>
      <div class="col-12">
        <p style="display: flex; height: 50px; width: 100%">
          <button [disabled]="saveForm.invalid" style="flex: 1" mat-raised-button color="primary">Save data</button>
        </p>
      </div>
    </div>
  </div>
</form>
